{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center my-4">Afficher une sortie</h1>

    <div class="row col-sm-10 offset-sm-1">
        <table class="table table-light table-hover col-sm-6">
            <tr>
                <th>Nom de la sortie : </th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Date et heure de la sortie : </th>
                <td>{{ sortie.dateDebut | date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription : </th>
                <td>{{ sortie.dateCloture | date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th>Nombre de places : </th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Durée en minutes : </th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>Description et infos : </th>
                <td>{{ sortie.descriptionInfos }}</td>
            </tr>
        </table>
        <table class="table table-light table-hover col-sm-6">
            <tr>
                <th>Campus : </th>
                <td>{{ sortie.campus.nomCampus }}</td>
            </tr>
            <tr>
                <th>Lieu : </th>
                <td>{{ sortie.lieu.nomLieu }}</td>
            </tr>
            <tr>
                <th>Rue : </th>
                <td>{{ sortie.lieu.rue }}</td>
            </tr>
            <tr>
                <th>Code Postal : </th>
                <td>{{ sortie.lieu.ville.codePostal }}</td>
            </tr>
            <tr>
                <th>Latitude : </th>
                <td>{{ sortie.lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude : </th>
                <td>{{ sortie.lieu.longitude }}</td>
            </tr>
        </table>
    </div>

    <h4 class="my-3">Liste des participants inscrits</h4>
    <div class="row">
        <div class="col-sm-5">
            <table class="table table-striped table-light table-bordered table-hover">
                <th>Pseudo</th>
                <th>Nom</th>
                {% for inscrit in sortie.inscriptions %}
                    <tr>
                        <td>{{ inscrit.participant.pseudo }}</td>
                        <td><a href="{{ path('profilParticipant',{'id': inscrit.participant.id}) }}">
                                {{ inscrit.participant.prenom }} {{ inscrit.participant.nom | upper }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4 offset-1">
            <a href="{{ path ("home") }}" class="btn btn-info btn-lg btn-block mt-3 p-3">Retour</a>
        </div>
    </div>


{% endblock %}

